<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}"/>
</head>
<body>
<div align="right">
    <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Welcome to the Meeting Organizer Home Page</h1>
<p th:text="${'Nice to see you again ' + session.user.name}"></p>

<table class="boxed">
    <caption>Meetings you have created</caption>
    <thead>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Max # participants</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${meetings}">
        <td th:text="${m.title}"></td>
        <td th:text="${m.startDate }"></td>
        <td th:text="${m.time }"></td>
        <td th:text="${m.duration }"></td>
        <td th:text="${m.maxParticipants }"></td>
    </tr>
    </tbody>
</table>
<table class="boxed">
    <caption>Meetings you have been invited to</caption>
    <thead>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Creator</th>
        <th>Time</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${meetingsInvitedTo}">
        <td th:text="${m.title}"></td>
        <td th:text="${ m.startDate }"></td>
        <td th:text="${m.creator}"></td>
        <td th:text="${ m.time }"></td>
        <td th:text="${ m.duration }"></td>
    </tr>
    </tbody>
</table>

<div>
    <p>>Use the wizard to organize a meeting</p>
    <form action="#" th:action="@{/GetContacts}" method="POST" class="boxed">
        <fieldset>
            <p>
                Title: <input type="text" name="title" required/>
            </p>
            <p>
                Date: <input type="date" name="date"
                             th:attr="min=${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}"
                             placeholder="yyyy-mm-dd" required/>
            </p>
            <p>
                Time (UTC+1): <input type="time" name="time" required/>
            </p>
            <p>
                Duration (hours): <input type="number" min=0.5 step="0.5" name="duration" required/>
            </p>

            <p>
                Max. number of participants: <input type="number" name="maxparticipants" min=1 required/>
            </p>
            <input type="submit" name="submit">
        </fieldset>
    </form>
</div>
</body>
</html>