.boxed {
    border: 2px solid #00BCD4;
    border-collapse: collapse;
    padding:5px;
    border-spacing: 5px;
    text-align: center;

}
h1{
    color: #001f52;
}

th, td {
    padding: 5px;
}

caption {
    color: #001f52;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

fieldset{
    padding: 15px;
}

.alertmessage {
    color: red;
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /* margin: 40% auto;  15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}